@adelco:registry=https://us-central1-npm.pkg.dev/adelco-corp-cicd/npm-repo-pro/
//us-central1-npm.pkg.dev/adelco-corp-cicd/npm-repo-pro/:always-auth=true
//us-central1-npm.pkg.dev/adelco-corp-cicd/npm-repo-pro/:_authToken="${NPM_TOKEN}"
